.attribution { 
    font-size: 11px; 
    text-align: center; 
}

body {
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
}
article {
    background-color: hsl(216, 50%, 16%);
    width: 275px;
    border-radius: 10px;
    padding-left: 25px;
    
}

.creator {
    width: 30px;
    border-radius: 5px white;
    
}

.Equilibrium {
    width: 250px;
    border-left: 15px;
    border-right: 15px;
    margin-top: 15px;
    border-top: 15px;
    border-radius: 10px;
}

.discription {
    color: gray;
}

.ethereum {
    display: inline;
    color: aqua;
    padding-right: 60px;
    padding-bottom: 20px;
    border-bottom: 1px solid grey;
}

p {
    display: inherit; 
}

.clock {
    display: inline;
    color: grey;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}

.creation {
    display: inline-block;
    padding-top: 30px;
}