.attribution { 
    font-size: 11px; 
    text-align: center; 
}

body {
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
    background-color: hsl(216, 50%, 16%);
    width: 400px;
    
}

.Equilibrium {
    width: 350px;
    
}