.attribution { 
    font-size: 11px; 
    text-align: center; 
}

body {
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
}
article {
    background-color: hsl(216, 50%, 16%);
    width: 275px;
    border-radius: 10px;
    padding-left: 25px;
    box-shadow: 5px 10px 5px 20px hsl(216, 68%, 9%);
}

.creator {
    position: relative;
    top: 30px;
    width: 25px;
    border: 1px solid white;
    border-radius: 50%;
    
}

.Equilibrium {
    width: 250px;
    border-left: 15px;
    border-right: 15px;
    margin-top: 15px;
    border-top: 15px;
    border-radius: 10px;
}

.discription {
    color: gray;
}

.ethereum {
    display: inline;
    color: aqua;
    padding-right: 60px;
    padding-bottom: 20px;
    border-bottom: 1px solid gray;
}

p {
    display: inherit; 
    
}

.create {
    
    position: relative;
    bottom: 10px;
    left: 40px;
    color: gray;
}

.number {
    position: relative;
    bottom: 2px;
}

.day {
    position: relative;
    bottom: 2px;
}

strong {
    color: white;
}

.clock {
    display: inline;
    color: grey;
    border-bottom: 1px solid gray;
    padding-bottom: 20px;
}
.days {
    border-left: 25px;
}